.star {
  height: 50px;
  width: 50px;
}

.star polygon {
  fill: white;
  stroke: black;
  stroke-width: 4;
  stroke-linejoin: round;
}

.rating label {
  cursor: pointer;
}

.rating:has(
    #label-1:hover,
    #label-2:hover,
    #label-3:hover,
    #label-4:hover,
    #label-5:hover
  )
  #label-1
  polygon {
  fill: gold;
}

.rating:has(#label-2:hover, #label-3:hover, #label-4:hover, #label-5:hover)
  #label-2
  polygon {
  fill: gold;
}

.rating:has(#label-3:hover, #label-4:hover, #label-5:hover) #label-3 polygon {
  fill: gold;
}

.rating:has(#label-4:hover, #label-5:hover) #label-4 polygon {
  fill: gold;
}

.rating:has(#label-5:hover) #label-5 polygon {
  fill: gold;
}

.rating:has(
    input#rating-1:checked,
    input#rating-2:checked,
    input#rating-3:checked,
    input#rating-4:checked,
    input#rating-5:checked
  )
  #label-1
  polygon {
  fill: gold;
}

.rating:has(
    input#rating-2:checked,
    input#rating-3:checked,
    input#rating-4:checked,
    input#rating-5:checked
  )
  #label-2
  polygon {
  fill: gold;
}

.rating:has(
    input#rating-3:checked,
    input#rating-4:checked,
    input#rating-5:checked
  )
  #label-3
  polygon {
  fill: gold;
}

.rating:has(input#rating-4:checked, input#rating-5:checked) #label-4 polygon {
  fill: gold;
}

.rating:has(input#rating-5:checked) #label-5 polygon {
  fill: gold;
}

.rating input {
  display: none;
}
